*,
*::before,
*::after { box-sizing: border-box; }

body {
  min-width: 1240px;
  max-height: 1200px;
}

h2 {
  display: none;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 80px;
  max-height: 34px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

@media only screen and (max-width: 1240px) {
  .navbar {
    position: absolute;
    left: 620px;
  }
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 4px;
  background-image: linear-gradient(#747474, #5e5e5e 50%, #6c6c6c 50%, #8f8f8f);
  border-top: 0.1px solid #616161;
  border-bottom: 0.1px solid #616161;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar li {
  float: left;
  min-width: 90px;
  max-width: 130px;
  border-right: 0.1px solid #616161;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
}

.nav-li-hover:hover { background-color: rgba(0, 0, 0, 0.3); }

.search-container {
  height: 34px;
  width: 120px;
}

.search-container input[type=text] {
  width: 100px;
  height: 22px;
  margin: 6px 10px;
  border: none;
  border-radius: 12px;
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(rgba(116, 116, 116, 0.95), rgba(94, 94, 94, 0.95) 50%, rgba(108, 108, 108, 0.95) 50%, rgba(143, 143, 143, 0.85));
}

.search-container input[type="text"]:focus {
  background: rgb(255, 255, 255);
  color: #5a5a5a;
  padding-left: 30px;
  outline: none;
}

.search-container i {
  position: absolute;
  top: 28%;
  left: 752px;
  font-size: 17px;
  color: white;
  text-shadow: 0 1px rgb(65, 65, 65);
}

.nav-links {
  display: block;
  padding: 8px 26px;
  color: rgb(240, 240, 240);
  text-shadow: 0 -1px rgb(65, 65, 65);
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#logo { padding: 3px 27px; }

/* NAVBAR */

/* ARTICLE */
.container,
.products-and-services,
.contact-and-policy {
  max-width: 1440px;
  margin: auto;
}

.container {
  max-height: 842px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(1024px, 1440px);
  grid-template-rows: 672px 200px;
  grid-gap: 2px;
}

.titles {
  grid-row: 1/2;
  background-image: url("../images/article-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}

#subtitle02 {
  height: 33px;
  width: 100%;
  background-image: url("../images/subtitle02-nounderline.png");
  background-position: center;
  background-repeat: no-repeat;
}

#subtitle02:hover {
  background-image: url("../images/subtitle02-underline.png");
}

.titles-box { margin-top: 225px; }

.products-and-services {
  display: grid;
  grid-template-columns: repeat(4, minmax(256px, 360px));
  grid-template-rows: 200px;
  grid-gap: 2px;
}

.products-and-services div {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#product-img1 { background-image: url(../images/product01.jpg); }

#product-img2 { background-image: url(../images/product02.jpg); }

#product-img3 { background-image: url(../images/product03.jpg); }

#product-img4 { background-image: url(../images/product04.jpg); }

/* ARTICLE */

/* FOOTER */
.contact-and-policy {
  position: relative;
  min-width: 980px;
  max-width: 1010px;
  height: 90px;
  margin-top: 32px;
}

.contact-and-policy p {
  margin: 25px 15px 15px 15px;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(110, 110, 110);
}

.contact-and-policy a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.contact-and-policy a:hover { text-decoration: underline; }

#shop-online { float: left; }

#more-links {
  float: right;
  text-align: end;
}

#more-links img {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#terms-of-use { clear: both; }

/* FOOTER */
