*,
*:before,
*:after { box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  max-height: 1472px;
  min-height: 830px;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(rgb(192, 192, 192), rgb(97, 96, 96) 50%, rgb(158, 158, 158) 50%,  rgb(192, 192, 192));
}

.navbar li {
  float: left;
  border: 1px solid  rgb(97, 96, 96);
}

.nav-links {
  display: block;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* NAVBAR */

/* ARTICLE */
.container,
.products-and-services,
.contact-and-policy {
  max-width: 1440px;
  margin: auto;
}

.container {
  max-height: 842px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(1024px, 1440px);
  grid-template-rows: 652px 200px;
  grid-gap: 2px;
}

.titles {
  grid-row: 1/2;
  background-image: url("/images/article-background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.titles-box {
  margin-top: 200px;
}

.products-and-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.products-and-services a {
  overflow: hidden;
}

.product-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ARTICLE */

/* FOOTER */
.contact-and-policy {
  height: 40px;
  max-width: 1000px;
  margin-top: 35px;
}

.contact-and-policy p {
  max-width: 495px;
  min-height: 20px;
  color: rgb(110, 110, 110);
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

#shop-online {
  float: left;
}

#more-links {
  float: right;
  text-align: end;
}

#more-links img {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#terms-of-use {
  clear: left;
}

/* FOOTER */
