*,
*:before,
*:after { box-sizing: border-box; }

body {
  min-width: 1240px;
  height: 100%;
  max-height: 1472px;
  min-height: 830px;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 80px;
  min-width: 790px;
  max-height: 34px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(#747474, #5e5e5e 50%, #6c6c6c 50%, #8f8f8f);
  border-radius: 4px;
}

.navbar li {
  float: left;
  border-right: 0.1px solid #474747;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
}

.navbar li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-links {
  display: block;
  padding: 8px 26px;
  color: rgb(240, 240, 240);
  text-shadow: 0 -1px rgb(65, 65, 65);
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#logo {
  padding: 3px 27px;
}

.nav-links img {
  overflow: hidden;
}

/* NAVBAR */

/* ARTICLE */
.container,
.products-and-services,
.contact-and-policy {
  max-width: 1440px;
  margin: auto;
}

.container {
  max-height: 842px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(1024px, 1440px);
  grid-template-rows: 672px 200px;
  grid-gap: 2px;
}

.titles {
  grid-row: 1/2;
  background-image: url("../images/article-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}

.titles-box {
  margin-top: 225px;
}

.products-and-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.products-and-services a {
  overflow: hidden;
}

.product-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* ARTICLE */

/* FOOTER */
.contact-and-policy {
  position: relative;
  min-width: 980px;
  max-width: 1010px;
  /*width: 100%;*/
  height: 90px;
  margin-top: 32px;
}

.contact-and-policy p {
  margin: 25px 15px 15px 15px;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(110, 110, 110);
}

.contact-and-policy a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.contact-and-policy a:hover {
  text-decoration: underline;
}

#shop-online {
  float: left;
}

#more-links {
  float: right;
  text-align: end;
}

#more-links img {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#terms-of-use {
  clear: both;
}

/* FOOTER */
